.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    max-width: 500px; /* Adjust the maximum width to your preference */
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.scrollable {
    overflow: auto;
    height: 120px;
    width: 250px;
    border: 1px solid;
}

button {
    padding: 8px 16px;
    /* background-color: #4CAF50; */
    color: black;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}
button.view{
    padding: 1px ;
    background-color: yellowgreen;
}
